<h1>About</h1>
<p>
	Welcome to Lulurails - My first Rails project
	<%= link_to "One Month Rails", "http://onemonthrails.com" %> 
	is a project to teach
	<%= link_to "Ruby on Rails", "http://rubyonrails.org" %>
	in one month to beginners. This is a sample application.
</p>