<div class="hero-unit">
	<h1>Welcome to Lulurails!</h1>
	<p>
		This page is a working project for
		<%= link_to "One Month Rails", "http://onemonthrails.com" %> application.
	</p>

	<p> 
		<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>